<?xml version="1.0" encoding="UTF-8"?>
<oimplugins>
    <plugins pluginpoint="oracle.iam.platform.kernel.spi.EventHandler">
        <plugin pluginclass="com.gis.oim.veg.validators.TelephoneNumberValidator" version="1.0" name="TelephoneNumberValidator"/>
    </plugins>
    <plugins pluginpoint="oracle.iam.identity.usermgmt.api.UserNamePolicy">
        <plugin pluginclass="com.gis.oim.veg.login.VEGUserName" version="1.0" name="VEGUserName"/>
    </plugins>
</oimplugins>